body
{
background-image:url("old.jpg");
}
h1    {
	   text-align: center;
       font-size: 30px;
	   color:white;
	   }
	  h2
	  {
	   text-align: center;
       font-size: 30px;
	   color:white;
	   }
	    h3
	  {
	   text-align: center;
       font-size: 30px;
	   color:white;
	   }
	    h4
	  {
	   text-align: center;
       font-size: 30px;
	   color:white;
	   }
	   li
	   {
		   text-align: center;
       font-size: 30px;
	   color:white;
	   }
	  